Bodega_Ventas/Connected Services/ServiceClientes/Clientes1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ruc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="movil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="foto" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="numico" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContarClientesActivos">
        <s:complexType />
      </s:element>
      <s:element name="ContarClientesActivosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ContarClientesActivosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContarClientesEliminados">
        <s:complexType />
      </s:element>
      <s:element name="ContarClientesEliminadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ContarClientesEliminadosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestaurarClientesEliminados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idcli" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestaurarClientesEliminadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RestaurarClientesEliminadosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idcli" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidos" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ruc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="movil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="foto" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="numico" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditarClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerIdCliente">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerIdClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ObtenerIdClienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarCliente" />
  </wsdl:message>
  <wsdl:message name="InsertarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ContarClientesActivosSoapIn">
    <wsdl:part name="parameters" element="tns:ContarClientesActivos" />
  </wsdl:message>
  <wsdl:message name="ContarClientesActivosSoapOut">
    <wsdl:part name="parameters" element="tns:ContarClientesActivosResponse" />
  </wsdl:message>
  <wsdl:message name="ContarClientesEliminadosSoapIn">
    <wsdl:part name="parameters" element="tns:ContarClientesEliminados" />
  </wsdl:message>
  <wsdl:message name="ContarClientesEliminadosSoapOut">
    <wsdl:part name="parameters" element="tns:ContarClientesEliminadosResponse" />
  </wsdl:message>
  <wsdl:message name="RestaurarClientesEliminadosSoapIn">
    <wsdl:part name="parameters" element="tns:RestaurarClientesEliminados" />
  </wsdl:message>
  <wsdl:message name="RestaurarClientesEliminadosSoapOut">
    <wsdl:part name="parameters" element="tns:RestaurarClientesEliminadosResponse" />
  </wsdl:message>
  <wsdl:message name="EditarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:EditarCliente" />
  </wsdl:message>
  <wsdl:message name="EditarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:EditarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerIdClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerIdCliente" />
  </wsdl:message>
  <wsdl:message name="ObtenerIdClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerIdClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insertar cliente</wsdl:documentation>
      <wsdl:input message="tns:InsertarClienteSoapIn" />
      <wsdl:output message="tns:InsertarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContarClientesActivos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Numero de clientes que siguen activos</wsdl:documentation>
      <wsdl:input message="tns:ContarClientesActivosSoapIn" />
      <wsdl:output message="tns:ContarClientesActivosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContarClientesEliminados">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Numero de clientes que estan deshabilitados</wsdl:documentation>
      <wsdl:input message="tns:ContarClientesEliminadosSoapIn" />
      <wsdl:output message="tns:ContarClientesEliminadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RestaurarClientesEliminados">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Clientes que deciden volver</wsdl:documentation>
      <wsdl:input message="tns:RestaurarClientesEliminadosSoapIn" />
      <wsdl:output message="tns:RestaurarClientesEliminadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditarCliente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Editar los datos del cliente</wsdl:documentation>
      <wsdl:input message="tns:EditarClienteSoapIn" />
      <wsdl:output message="tns:EditarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdCliente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Extraer el Id del cliente para hacer la venta</wsdl:documentation>
      <wsdl:input message="tns:ObtenerIdClienteSoapIn" />
      <wsdl:output message="tns:ObtenerIdClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientesSoap" type="tns:ClientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <soap:operation soapAction="http://tempuri.org/InsertarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContarClientesActivos">
      <soap:operation soapAction="http://tempuri.org/ContarClientesActivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContarClientesEliminados">
      <soap:operation soapAction="http://tempuri.org/ContarClientesEliminados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestaurarClientesEliminados">
      <soap:operation soapAction="http://tempuri.org/RestaurarClientesEliminados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarCliente">
      <soap:operation soapAction="http://tempuri.org/EditarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdCliente">
      <soap:operation soapAction="http://tempuri.org/ObtenerIdCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientesSoap12" type="tns:ClientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarCliente">
      <soap12:operation soapAction="http://tempuri.org/InsertarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContarClientesActivos">
      <soap12:operation soapAction="http://tempuri.org/ContarClientesActivos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContarClientesEliminados">
      <soap12:operation soapAction="http://tempuri.org/ContarClientesEliminados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestaurarClientesEliminados">
      <soap12:operation soapAction="http://tempuri.org/RestaurarClientesEliminados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarCliente">
      <soap12:operation soapAction="http://tempuri.org/EditarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdCliente">
      <soap12:operation soapAction="http://tempuri.org/ObtenerIdCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Clientes">
    <wsdl:port name="ClientesSoap" binding="tns:ClientesSoap">
      <soap:address location="https://localhost:44343/CLIENTES/Clientes.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientesSoap12" binding="tns:ClientesSoap12">
      <soap12:address location="https://localhost:44343/CLIENTES/Clientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>